{% extends 'base.html' %} {% block content %}
<div style="display: flex; flex-direction: column; border: 1px solid black; padding: 5rem; background-color: white; border-radius: 3rem; margin: 10rem">
	<h2>Produkt löschen</h2>
	<p>Sind Sie sicher, dass Sie "{{ product.name }}" löschen möchten?</p>
	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="button-18">Ja, löschen</button>
	</form>
	<a href="{% url 'products:product_detail' product.pk %}" style="text-align: center; margin-top: 1rem; width: fit-content;">Abbrechen</a>
</div>
{% endblock %}
